<div class="container mt-5 mb-5">
  <div class="mt-24">
    <h1 class="text-center text-2xl text-blue-900">Découvrir</h1>
</div>
    <p class="text-center text-base text-lg text-gray-900 pl-10 mt-10">

    
        Cagnotte est une plateforme de crowdfunding en ligne qui permet aux individus, aux groupes, aux organisations à but non lucratif et aux entreprises de collecter des fonds pour financer divers projets, événements ou besoins financiers. La plateforme offre une interface conviviale et sécurisée pour faciliter la collecte de fonds auprès de donateurs et de contributeurs.
        
        Caractéristiques clés :

        Création de Cagnottes : Les utilisateurs peuvent créer facilement une cagnotte en ligne en fournissant des informations sur leur projet ou leur objectif financier. Ils peuvent personnaliser leur cagnotte avec des images, des descriptions et des objectifs spécifiques.
        
        Partage sur les Réseaux Sociaux : Cagnotte permet aux utilisateurs de partager leur campagne sur les réseaux sociaux, par e-mail ou par d'autres moyens en un seul clic, ce qui permet de toucher un large public.
        
         Contributions Faciles : Les personnes intéressées peuvent contribuer à la cagnotte en effectuant des dons en ligne à l'aide de diverses méthodes de paiement, telles que les cartes de crédit, les virements bancaires ou les portefeuilles électroniques.
        
         Transparence et Sécurité : La plateforme garantit la sécurité des transactions et fournit des informations transparentes sur les fonds collectés, les donateurs et les objectifs atteints.
        
         Diversité des Projets : Cagnotte soutient une grande variété de projets, qu'il s'agisse de collecter des fonds pour un voyage, un mariage, des frais médicaux, un projet artistique, une cause caritative ou d'autres besoins financiers.
        
         Campagnes de Collecte de Fonds : Les utilisateurs peuvent définir des objectifs de collecte de fonds spécifiques et suivre les progrès de leur campagne en temps réel.
        
    </p>
    <div class="mt-40">

    </div>
</div>
