<div class="flex h-screen w-full items-center justify-center bg-gray-900 bg-cover bg-no-repeat" style="background-image:url('https://www.journaldugeek.com/app/uploads/2023/03/argentepargne.jpg')">
    <div class="rounded-xl bg-gray-800 bg-opacity-50 px-16 py-10 shadow-lg backdrop-blur-md max-sm:px-8">
      <div class="text-white">
        <div class="mb-8 flex flex-col items-center">
         <!-- <img src="https://www.logo.wine/a/logo/Instagram/Instagram-Glyph-Color-Logo.wine.svg" width="150" alt="" srcset="" />-->
          <h1 class="text-2xl">Mot de passe oublié</h1>
        </div>
        <form action="#">
          <div class="mb-4 text-lg">
            <input class="rounded-3xl border-none bg-blue-900 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md" type="text" placeholder="@email" id="email-reset" [(ngModel)]="emailReset" name="email-reset" required>
          </div>
  
          <div class="mb-4 text-lg">
            <input class="rounded-3xl border-none bg-blue-900 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md" type="text" placeholder="123456789" id="phoneReset" [(ngModel)]="phoneReset" name="password" required>
          </div>          
         
          <div class="mt-8 flex justify-center text-lg text-black">
            <button type="submit" class="rounded-3xl bg-blue-900 bg-opacity-50 px-10 py-2 text-white shadow-xl backdrop-blur-md transition-colors duration-300 hover:bg-blue-900" (click)="continue()">continue</button>
          </div>
          <a href="/signin" class="text-xs font-semibold text-blue-700 ml-6" >Retour à la page de connexion</a>
        </form>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
  
  






